html {
    background-image: url(./images/racetrack.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

h1 {
    color: white;
    font-family: 'Press Start 2P', cursive;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}


tr:nth-child(even) {
    background-color: #eee;
}

tr:nth-child(odd) {
   background-color: #fff;
}


th {
    background-color: black;
    color: white;
    font-family: 'Press Start 2P', cursive;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    border: 1px solid black;

}


th, td {
        padding: 15px;
        text-align: left;
        
}

td {
    color: black;
    font-family: 'Press Start 2P', cursive;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    border: 1px solid black;
}

button {
    grid-column: 1 / 3;
    font-size: 15pt;
    padding: 10pt;
    font-family: 'Press Start 2P', cursive;
    border-radius: 15px;
    background-color: rgb(2,2,87);
    color: white;
    margin-top: 30pt;
    transition: .3s, ease-in-out;
    align-self: center;
    justify-self: center;
}

button:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

